{
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.content-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 20px 0;
}

.subtitle {
    font-size: 1.5em;
    text-align: center;
    color: #333;
}

h2, h3 {
    margin-top: 20px;
    color: #121010;
}

p {
    font-size: 1em;
    line-height: 1.5;
    color: #333;
}

ul.skills {
    list-style-type: none;
    padding: 0;
    font-size: 1em;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.contact-info img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.phone, .address, .email, .upwork {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.phone-number, .adress-opis, .gmail-opis, .upwork-opis {
    margin-left: 10px;
    color: #d1cfcf;
}

.divider {
    width: 100%;
    height: 3px;
    background-color: rgb(53, 193, 224);
    margin: 20px 0;
}

.blue-square {
    height: 170px;
    background-color: rgb(53, 193, 224);
}

.dark-square {
    height: 2200px; /* Wysokość można zmniejszyć, aby uniknąć zniekształceń na mniejszych ekranach */
    background-color: rgb(31, 29, 26);
    opacity: 0.8; /* Utrzymywanie widoczności tła */
}

/* Responsywność */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    .subtitle {
        font-size: 1.2em;
    }
    p {
        font-size: 0.9em;
    }
    .contact-info {
        flex-direction: column;
        align-items: center;
    }
    .divider {
        height: 2px; /* Można dostosować wysokość dividerów w responsywności */
    }
}
